# Files to ignore
.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store

# Extensions to ignore - toggle on and off as required
# *.html
# *.png
# *.jpg
# *.jpeg
# *.eps
# *.pdf
# *.bmp
# *.svg
# *.tiff
*.Rproj
*DS_Store

# Folders to ignore
archive/
outputs

# Keywords to ignore
*archive
*scratch
*tutor*
*_files